button{
    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
    border-width: 0;
    cursor: pointer;
    background-color: rgb(0, 91, 152);
    color: white;
    font-weight: bold;
    font-family: sans-serif;

}

.nav{
    display:flex;
    align-items:center;
    justify-content: space-between;

}
.nav ul{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    border-radius:999px;
    padding: 10px 20px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    
}
.nav ul li{
    display:inline-block;
    padding: 0 20px;
    flex-shrink: 1;
    cursor: pointer;
    color: black;
}
.nav a.active li {
  color: red;
}


.logo-container{
    display:flex;
    align-items:center;
    gap:10
}