.Auth{
    flex: 1;
    display: flex;
    height: 100vh;
    justify-content: space-between;
}
.ImageWrapper {
  flex: 1.3;
  overflow: hidden; /* hides the overflow from scale */
}

.ImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  transform: scale(1.05);
}
.Auth .content {
  flex: 1;
  background-color: rgba(5, 52, 95);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.SignInContainer{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px ;
    row-gap: 10px;
    flex-shrink: 1;
}

.label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: black;

}

.SignInContainer input{
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 80%;
  border-width: 0;
  height: 25px;
  padding: 4px 10px;
  flex-shrink: 1;
}
.SignInContainer button{
   width: 80%;
   align-self: center;
   margin:30px 0px 0px
}

@media only screen and (max-width: 600px){
  .Auth{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
  }
  .ImageWrapper {
  flex: 1;
  overflow: hidden; /* hides the overflow from scale */
}
  .Auth .content{
    position: absolute;
    width: 80%;
    padding: 3% 0px;
     overflow:hidden;
  }
  .ImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}
}